<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Login</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>

<div class="auth-page">

    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>

    <div class="auth-card">

        <div class="avatar">
            🎓
        </div>

        <h1>Welcome Back</h1>
        <p>Login to view your career roadmap</p>

        <div class="success" th:if="${param.registered}">
            Registration successful. Please login.
        </div>

        <div class="error" th:if="${param.error}">
            Invalid username or password.
        </div>

        <div class="success" th:if="${param.logout}">
            Logout successful.
        </div>

        <form th:action="@{/login}" method="post">

            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}">

            <div class="input-box">
                <span>👤</span>
                <input type="text"
                       name="username"
                       placeholder="Username"
                       required>
            </div>

            <div class="input-box">
                <span>🔒</span>
                <input type="password"
                       name="password"
                       placeholder="Password"
                       required>
            </div>

            <button type="submit">
                Login
            </button>

        </form>

        <h4>New student?</h4>

        <a th:href="@{/register}">
            Create Account
        </a>

    </div>

</div>

</body>
</html>